ol.search-results .promotion {
  width: 55%;
  padding: 1em;
  border-color: #fff;
  background-color: #f6f6f6;
}

ol.search-results .promotion .title {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.5em;
}
